*{
    margin:0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content:space-between;
    margin-top: 1rem;
}

.logo{
    margin-left: 5rem;
}

.menu-hamburger{
    margin-right: 5rem;
    margin-top: 1rem;
    cursor: pointer;
}

.hero-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 8rem;
}

.hero-image img{
    border-radius: 50%;
    width: 80%;
    height: auto;
}

.hero-content{
    max-width: 800px ;
}

.offer-badge{
    background-color: #2da549;
    color: white;
    padding: 8px 20px;
    display: inline-block;
    margin-bottom: 2rem;
}

.hero-content h1 {
  font-size: 4rem;
  margin: 0 0 20px;
  color: #000;
  line-height: 1.2;
  font-family: 'Roboto';
}

.hero-content p {
  color: #000000;
  font-size: 14px;
  font-weight: 550;
  margin-bottom: 30px;
  font-family: 'Roboto';
}

.hero-btn {
  background-color: #FFC066; 
  color: white;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  font-family: 'Roboto';
}

.features{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 4rem;  
    margin-bottom: 4rem;
}

.feature-item{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    max-width: 20rem;
}

.feature-item h4{
    font-family: 'Roboto';
}
.feature-item p{
    font-family: 'Roboto';
    font-size: 1rem;
}

.menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.menu-label{
  background-color: #16a34a;
  color: white;
  padding: 10px 28px;
  font-size: 1.5rem;
  font-family: 'Roboto';
  display: inline-block;
  text-align: center;
}

.menu-heading{
    text-align: center;
    font-family: 'Roboto';
    font-weight: 540;
    font-size: 2rem;
    margin-top: 2rem;
}

.food-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
     gap: 1rem;
    margin-top: 2rem; 
    margin-left: 6rem;
    margin-right: 6rem;
}

.food-item-1 img{
    width: 160%;
}

.food-item-2 img{
    width: 100%;
    height: 100%;
    margin-left: 11rem;
}

.food-item-3 img{
    width: 100%;
    margin-left: 11.5rem;
}

.food-item-4 img{
    width: 80%;
}

.food-item-5 img{
    width: 80%;
    margin-left: -2rem;
}

.food-item-6 img{
    width: 80%;
     margin-left: -5rem;
}

.food-item-7 img{
    width: 100%;
    height: 125%;
    margin-top: -11rem;
    margin-left: -7rem;
}
.footer-section{
    background-color: #f5dab5;
    margin-top: 4rem;
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    padding: 4rem 12rem;
    
}

.footer-logo{
    margin-bottom:5rem ;
}

.Footer-main-link{
    margin-top: 3rem;
}

.Footer-main-link h4{
    margin-bottom: 1rem;
}
.Footer-main-link li{
    list-style: none;
    margin-bottom: 1rem;
}


.Footer-support-link h4{
    margin-bottom: 1rem;
}
.Footer-support-link li{
    margin-bottom: 1rem;
    list-style: none;
}

.footer-newsletter h4{
    margin-bottom: 1rem;
}
.footer-newsletter input{
    margin-bottom: 1rem;
}

.footer-newsletter p{
    margin-bottom: 1rem;
}

